img {
  max-width: 100%;
  display: block;
  border: 1px solid rgba(210, 210, 210, 0.489);
  border-radius: 8px;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

figure a {
  color: black;
  text-decoration: none;
}

figcaption {
  grid-row: 2;
  grid-column: 1;
  background-color: rgba(255,255,255,.5);
  padding: .2em .5em;
  justify-self: start;
}

.container {
  column-count: 6;
  column-gap: 10px;
  padding: 5vh 12px 0;

}


@media only screen and (max-width: 600px) {
  .container{
    column-count: 3;
    padding-top: 3vh;
  }
}