<section class="container">
  @if(loading){
    <app-skeletonloader></app-skeletonloader>
  }
  @else{
    @for (post of drawings(); track $index) {
      <a routerLink="/Drawing/{{post.id}}">
        <figure>
          <img [src]="post.drawingURL" alt="A windmill" />
          <figcaption>
            <!-- <p >Likes: {{post.totalLikes}}</p> -->
            <p></p>
            <img class="profile-pic" [src]="post.userProfilePic" loading="lazy" alt="">
    
          </figcaption>
        </figure>
      </a>
      }
  }
  

</section>