<section class="container">
  <!-- @if(loading){
    <h2>Loading</h2>
  }
  @else{
    
  } -->
  @for (post of posts; track $index) {
    <a routerLink="/Drawing/{{post.id}}">
      <figure [style.view-transition-name]="'post-' + post.id" >
        <img [src]="post.drawingURL" alt="A windmill" />
        <figcaption>
          <!-- <p >Likes: {{post.totalLikes}}</p> -->
          <img class="profile-pic" [src]="post.userProfilePic" loading="lazy" alt="">

        </figcaption>
      </figure>
    </a>
  }
</section>