figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
  position: relative;
}

.post {
  width: 100%;
  display: block;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
}

figure>img {
  grid-row: 1 / -1;
  grid-column: 1;
}

figure a {
  color: black;
  text-decoration: none;
}

figcaption {
  grid-row: 2;
  grid-column: 1;
  background-color: rgba(197, 197, 197, 0.5);
  padding: .8em .5em;
  justify-self: start;
  width: 100%;
  display: flex;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
  align-items: center;
}

.profile-pic {
  height: 25px;
  width: auto;
  border-radius: 100%;
}

.liked{

}

.like{
  width: 100px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: liked 0.3s;
  transition: all 0.3s;
}


@keyframes liked {
  from{
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
  to{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes disliked {
  from{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to{
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}

.disliked{
  animation: disliked 0.3s;
}