.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    top: 0;
    width: 100vw;
    margin: 0 auto;
    background-color: transparent;
    backdrop-filter: blur(25px);
    padding: 12px;
    border-bottom: 1px solid #2f33367a;
    height: 7vh;
    z-index: 1;
}

.solid {
    color: #7267ff;
    border-bottom: 1px solid #2f3336;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: 800;
}

.nav-image {
    width: 30px;
}

@media only screen and (max-width: 600px) {
    .navbar {
        height: 10vh;
    }
}