.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    top: 0;
    width: 100vw;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 12px;
    border-bottom: 1px solid transparent;
}

.solid{
    color: #000;
    border-bottom: 1px solid rgb(75, 75, 75);
}

.icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: 800;
}

.nav-image{
    width: 30px;
}