.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100vw;
    margin: 0 auto;
    height: 10vh;
    z-index: 1;
}

.main-links{
    background-color: transparent;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 16px;
    padding: 8px 14px;
}

.solid {
    color: #7267ff;
    border: 1px solid rgba(143, 143, 143, 0.568);
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: 800;
}

.nav-image {
    width: 30px;
}

