.link{
    font-size: 1.2em;
    font-weight: 500;
    color: currentColor;
    text-decoration: none;
    transition: all 0.4s;
}

.link-icon{
    width: 20px;
    height: auto;
}


.links-container{
    display: flex;
        flex-direction: column;
        justify-content: center;
    align-items: center;
}

.active-link{
    color: #9d96fd;
}