.cont{
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    gap: 48px;
    padding-top: 5vh;
}

.drawing-space{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 12px;
}


.tools{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.range{
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.actions{
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-size: 4rem;
    background: rgb(252,70,107);
    background: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 24px;
}

.picker{
    display: flex;
    align-items: center;
    gap: 12px;
}

#drawing-canva{
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.share{
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
}

.colorpicker{
    height: 36px;
    width: 36px;
    border-radius: 100%;
    border: 0;
}

.colorpicker::-webkit-color-swatch-wrapper {
    padding: 0;
    border: 0;
}

.colorpicker::-webkit-color-swatch{
    border: 4px solid rgba(156, 156, 156, 0.692);
    border-radius: 100%;
}


@media only screen and (max-width: 600px) {
    .share{
        flex-direction: column;
    }

    .actions{
        flex-direction: row;
    }
  }