<h1 class="title">Love in Lines</h1>

<div class="drawing-board">
<canvas id="drawing-canva" ></canvas>
</div>


<section class="drawing-space">
  <form action="" [formGroup]="canvatools" class="tools"> 
    <div class="picker">
      <input formControlName="colorcode" id="color"  class="colorpicker" type="color">
      <span>Color Picker</span>
    </div>
    <div class="range">
      <span>Line Width</span>
      <input formControlName="width" id="width" type="range" min="5" value="5" step="1" max="25">
    </div>
    <div class="actions">
      <app-button (click)="clean()" buttonIcon="trash-icon.svg" buttonText="Clear"></app-button>
      <app-button buttonIcon="erase-icon.svg" buttonText="Eraser"></app-button>
    </div>
  </form>


  <h2>Share your masterpiece!</h2>
  <section class="share">
    <app-button (click)="saveImg()" buttonIcon="save-icon.svg" buttonText="Save"></app-button>
    <app-button (click)="shareOnTwitter()" buttonIcon="twitter-icon.svg" buttonText="Share on Twitter"></app-button>
    <app-button buttonIcon="facebook-icon.svg" buttonText="Share on Facebook"></app-button>
    <app-button buttonIcon="whatsapp-icon.svg" buttonText="Share on Whatsapp"></app-button>
  </section>

</section>

<div *ngFor="let toast of toastService.toasts; let i = index" class="toast">
  <app-toast [toastInfo]="toast" [tId]="i"></app-toast>
</div>