<section class="drawing-space">

  <h1>Love in Lines</h1>

  <canvas id="drawing-canva"></canvas>

  <article class="tools">
    <div class="picker">
    <input id="color" value="#ffffff" class="colorpicker" type="color">
      <span>Color Picker</span>
    </div>
    <div class="actions">
      <app-button buttonIcon="trash-icon.svg" buttonText="Clear"></app-button>
      <app-button buttonIcon="erase-icon.svg" buttonText="Eraser"></app-button>
    </div>
  </article>


  <h2>Share your masterpiece!</h2>
  <section class="share">
    <app-button (click)="saveImg()" buttonIcon="save-icon.svg" buttonText="Save" ></app-button>
    <app-button buttonIcon="twitter-icon.svg" buttonText="Share on Twitter"></app-button>
    <app-button buttonIcon="facebook-icon.svg" buttonText="Share on Facebook"></app-button>
    <app-button buttonIcon="whatsapp-icon.svg" buttonText="Share on Whatsapp"></app-button>
  </section>

</section>

<div *ngFor="let toast of toastService.toasts; let i = index" class="toast">
  <app-toast [toastInfo]="toast" [tId]="i"></app-toast>
</div>