@if (isToggle) {
    <button (click)="toggleButton()" class="btn" [style.cursor]="cursorType" [ngClass]="toggle ? 'toggled' : ''" [style.background-color]="backgroundColor">
        @if (buttonText != 'empty') {
        {{buttonText}}
        }
        @if (buttonIcon != 'empty') {
        <img class="icon" src="assets/icons/{{buttonIcon}}">
        }
    </button>
}
@else {
    <button (click)="toggleButton()" class="btn" [style.cursor]="cursorType" [style.background-color]="backgroundColor">
        @if (buttonText != 'empty') {
        {{buttonText}}
        }
        @if (buttonIcon != 'empty') {
        <img class="icon" src="assets/icons/{{buttonIcon}}">
        }
    </button>
}