.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 32px;
    width: 100%;
    padding: 22px 16px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 12px;
    transition: all 0.2s;
}

.toggled {
    background-color: #3f3f3f;
}

a {

    text-decoration: none;
}


@media (hover: hover) {
    .btn:hover {
        background-color: #3f3f3f;
    }
}

.btn:active {
    transform: translateY(-15%);
}

.icon {
    height: 24px;
}
