
.toast{
    display: flex;
    align-items: center;
    background-color: #cccccca2;
    border: 1px solid #fff;
    backdrop-filter: blur(10px);
    padding: 24px 12px;
    width: 350px;
    position: fixed;
    left: 12px;
    text-align: center;
    top: 8px;
    border-radius: 4px;
    animation: fadeintoast 0.4s;
}

.hidden{
    animation: fadeouttoast 0.4s;
}


@keyframes fadeouttoast {
    to{
        transform: translateX(-15%);
        opacity: 0;
    }
}

@keyframes fadeintoast {
    from{
        opacity: 0;
        transform: translateX(-15%);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .toast{
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 90dvw;
    }
  }